{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
<section class="container">

    <div class="row">

        <div class="col-12 pt-5 pb-2">
            <h1>Messagerie</h1>
            <h2>Messages envoyés</h2>
            <p>Vous avez envoyé {{ app.user.received|length }} messages</p>
        </div>

        <div class="col-3">De</div>
        <div class="col-3">Sujet</div>
        <div class="col-3">Date</div>
        <div class="col-3">Action</div>

        {% for message in app.user.sent %}
            <div class="col-3">{{ message.recipient.email }}</div>
            <div class="col-3">{{ message.title }}</div>
            <div class="col-3">{{ message.createdAt|date }}</div>
            <div class="col-3"></div>
        {% endfor %}

        <div class="col-12 mt-3">
            <a class="btn btn-primary col-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">Menu</a>
            <a class="btn btn-primary col-2" href="{{ path("app_message_send") }}">Envoyer un message</a>
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">

                <div class="list-group">
                
                    <a class="list-group-item list-group-item-action" href="{{ path("app_message") }}">Accueil</a>

                    <a class="list-group-item list-group-item-action" href="{{ path("app_message_received") }}">Boîte de réception</a>

                    <a class="list-group-item list-group-item-action active" href="{{ path("app_message_sent") }}">Messages envoyés</a>
                
                </div>

            </div>

        </div>

    </div>

</section>
{% endblock %}